.weatherDataCont{
    width: 90vw;
    line-height: 30vw;
    margin: 1vw;
}
.weatherExtraInfoCont{
    background: #ccc;
    border-radius: 13px;
    width: 39%;
    margin-left: 1%;
    display: inline-block;
}
.weatherTemperatureCont{
    display: inline-block;
    width: 60%;
    background: #ccc;
    border-radius: 13px;
}
.temperature{
    font-size: 6vw;
    font-weight: bold;
    padding-left: 20px;
    color: #222;
}
.temperatureType{
    font-size: 2vw;
    font-weight: bold;
    color: #222;
}

.extraInfoText{
    display: block;
    color: #333;
    font-size: 3vw;
    font-weight: bold;
}
